nav{
 justify-content:space-between;
}
header{
background-color:grey;
color:black;
padding:20px;
text-align:center;
}
ul{
background-color:black;
color:white;
padding:35px;
list-style-type:none;
}
li{
padding:opx 10px;
float:left;
}
div.a{
border:4px;
margin:8px;
padding:25px;
width:250px;
float:left;
background-color:grey;
}
img.e{
width:250px;
height:150;
}
footer{
background-color:grey;
text-align:center;
width:100%;
}
img{
float:left;
height:150px;
width:200px;
}

