*{
box-sizing:border-box;
margin=0;
}

body{
 font-family:Arial,Helvetica,sans-serif;
}

.flex{
 display:flex;
}

.text-center{
 text-align:center;
}

.justify-content-between{
 justify-content:space-between;
}
.justify-content-center{
 justify-content:center;
}
.align-items-center{
 align-items:center;
}
.align-content-center{
 align-content:center;
}

.main-heading{
 font-weight :bold;
 font-size:48px;
}
.logo{
 width:90px;
}

.In-div{
 width:100%;
 height:300px;
 padding:10px;
 margin:20px 50px;
}
